
**/.git
**/.gitignore
**/.env
**/.project
**/.settings
**/.vs
**/.vscode
**/*.*proj.user

**/bin
**/obj
**/pkg

**/Dockerfile*
**/docker-compose*
**/compose*

**/charts
**/secrets.dev.yaml
**/values.dev.yaml

*.log

/app/out
*.tmp
*.bak
*.test

*.DS_Store
*.idea
*.classpath
*.swo
*.swp

LICENSE
README.md

